{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% load filters %}

{% block content %}

<div class="p-0 w-full overflow-hidden font-poppins rounded-lg border h-screen items-center justify-center">
  {% include 'navbar.html' %}
  <div class="flex flex-col justify-center bg-todolist bg-cover bg-no-repeat h-full">
    <div class="flex justify-center">
      <div class = "login flex flex-col bg-gradient-to-r from-purple-3 to-pink-1 rounded-lg p-8 gap-4 hover:shadow-2xl hover:shadow-grey-800 drop-shadow-xl">
              
          <h1 class="text-xl text-white font-bold">Create new task</h1>

          <div class="border-b-2 border-pink-6 my-2"></div>
      
              <form method="POST" >
                  {% csrf_token %}
                  <div class="flex flex-col gap-4">
                    <div class="flex gap-4">
                      <div class="flex flex-col text-white font-semibold justify-around gap-4">
                        <p>Title</p>
                        <p>Description</p>
                      </div>
                      <div class="flex flex-col justify-around gap-4">
                        {{ form.title|addclass:"rounded-lg py-2 px-4"}}
                        {{ form.description|addclass:"rounded-lg py-2 px-4"}}
                      </div>
                    </div>
                    <div class="font-poppins text-xs text-center font-bold text-pink-1 mt-2 mb-10">
                      {{ form.title.errors }}
                      {{ form.description.errors }}
                    </div>
                    <button class="w-full">
                      <input class="text-purple-1 mt-2 w-auto bg-gradient-to-r hover:bg-gradient-to-l from-pink-4 to-blue-1 font-extrabold rounded-full text-md md:px-7 md:py-2 px-8 py-3 text-center mr-2 mb-2" type="submit" name="submit" value="Create task">
                  </button>
                  </div>
              </form>
      
          {% if messages %}  
              <ul>   
                  {% for message in messages %}  
                      <li>{{ message }}</li>  
                      {% endfor %}  
              </ul>   
          {% endif %}
      </div>  
  </div>
</div>

{% endblock content %}